/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body{min-height:100%;}
body{height:100vh;}

/* width */
::-webkit-scrollbar {
    width: 10px;
}
 
/* Track */
::-webkit-scrollbar-track {
    @apply bg-primary-300;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    @apply bg-primary-700;
    border-radius: 3px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    @apply bg-primary-950;
}