<div class="bg-gradient-to-r from-primary-300 to-primary-400 h-full w-full">
    <div class="w-1/6 h-full rounded-r-md bg-primary-800">
        @for(chat of chats; track chat){
            <div class="rounded-md bg-primary-950 text-grey-50 p-8">
                {{chat.content}}
            </div>
        }
    </div>
    <input (keyup.enter)="post(adress.value)" #adress  class="absolute bottom-[20px] left-[43%] w-1/3 pl-2 text-grey-50 h-[44px] rounded-md border-[2px] border-secondary-500 bg-primary-900">
</div>